<!DOCTYPE html>
<html lang="en" class="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
</head>
<body class="container text-center bg-dark">
  <div class="">
  <div class="row bg-dark" id="header">
        <div class="col fw-bold border border-danger m-1 p-2 fs-3"><span id="Sitename" class="Text" >PANTEREST</span></div>
        <div class="col-lg-3 border border-danger m-1 p-2 fs-3">{{dakika}}:{{zero}}{{zaman}}</div>
        <div class="col-lg-3 border border-danger m-1 p-2 fs-3"><a routerLink="saves" id="saveslink">Kaydedilenler</a></div>
  </div>
  <hr>

  <div class="row bg-dark">  
  <fieldset>
      <legend>
        <img id="dynamic-image" src="{{link}}" alt="Input sizes" class="rounded mx-auto image-frame"> 
      </legend>
    </fieldset>
    <div class="">Loading Times is about Your Internet Speed</div>
  </div>

    <br>
    <hr>
    <p id="yazı">{{olusturmatexti}}.</p>
    <hr>
    <div class="d-flex row g-3 align-items-center mx-auto container1 justify-content-center" id="inputs">
      
      <div id="input" class="col-auto">
        <input class="form-control m-1" type="email" [(ngModel)]="weight" placeholder="weight(max 5000)">
      </div>

      <div id="input" class="col-auto">
        <input class="form-control m-1 " type="email" [(ngModel)]="height" placeholder="height(max 5000)">
      </div>

      <hr>

      <div class="col-auto m-20 p-2">
        <input type="checkbox" [(ngModel)]="isChecked" (change)="DcheckBoxChanged()" class="btn-check" id="btncheck1" autocomplete="off">
        <label class="btn btn-outline-secondary" for="btncheck1">Siyah - Beyaz</label>
      </div>

      <div class="col-auto m-20 p-2">
        <input type="email" [(ngModel)]="blur" class="btn-check1 form-control m-1" placeholder="Blur(1-10)">
      </div>

      <div class="col-auto m-20 p-2">
        <button class="btn btn-primary">Download</button>
      </div>

    </div>

    <button class="btn btn-danger" (click)="generate()" >Oluştur</button>
    



    <p id="footer">Copyright falan filan tüm haklarını ben sakladım | <a href="https://www.youtube.com/@ment4l." id="footer" target="_blank">AzizCOOP</a></p>

    <router-outlet>
      
    </router-outlet>

    
      <a routerLink="home">Home</a> |
      <a routerLink="about">About</a>
    
    
  </div>
</body>
</html>